{% extends 'member/_base.html' %}

{% load i18n %}


{% block title %}{% trans 'Changer mon mot de passe' %}{% endblock %}


{% block member_title %}{% trans 'Changer mon mot de passe' %}{% endblock %}


{% block member_content %}
  <div class="alert alert-warning">
    {% trans 'Nous vous conseillons de ne pas utiliser le même mot de passe que sur votre compte Ankama afin de prévenir tout risque.' %}
  </div>
  <form action="." method="post" enctype="multipart/form-data">
    {% include 'misc/_form.html' %}
    <div class="text-center">
      <button type="submit" class="btn btn-success btn-lg">{% trans 'Changer mon mot de passe' %}</button>
    </div>
  </form>
{% endblock %}