{% extends 'wiki/_detail.html' %}

{% load i18n %}


{% block title %}{{ page.name }} - {{ part_name }}{% endblock %}


{% block page_name %}{{ page.name }} - Niveau {{ page.level }}{% endblock %}


{% block info_box %}
  <dt>{% trans 'Nom' %}</dt>
  <dd>{{ page.name }}</dd>
  <dt>{% trans 'Niveau' %}</dt>
  <dd>{{ page.level }}</dd>
  <dt>{% trans 'Boss' %}</dt>
  <dd>{{ page.boss }}</dd>
  <dt>{% trans 'Zone' %}</dt>
  <dd>{{ page.zone }}{% if page.subzone %} - {{ page.subzone }}{% endif %}</dd>
  <dt>{% trans 'Difficulté' %}</dt>
  <dd>{{ page.get_difficulty_icons|safe }}</dd>
{% endblock %}