{% extends 'wiki/_detail.html' %}

{% load i18n %}


{% block title %}{{ page.boss }} - {{ part_name }}{% endblock %}


{% block page_name %}{{ page.boss }} - Niveau {{ page.level }}{% endblock %}


{% block info_box %}
  <dt>{% trans 'Boss' %}</dt>
  <dd>{{ page.boss }}</dd>
  <dt>{% trans 'Niveau' %}</dt>
  <dd>{{ page.level }}</dd>
  <dt>{% trans 'Instance' %}</dt>
  <dd>{{ page.name }}</dd>
  <dt>{% trans 'Zone' %}</dt>
  <dd>{{ page.zone }} - {{ page.subzone }}</dd>
  <dt>{% trans 'Difficulté' %}</dt>
  <dd>{{ page.get_difficulty_icons|safe }}</dd>
{% endblock %}